.icerik .slider .carousel-inner .active.left {
  left: -25%;
}

.icerik .slider .carousel-inner .next {
  left: 25%;
}

.icerik .slider .carousel-inner .prev {
  left: -25%;
}

.icerik .slider .carousel-control {
  width: 4%;
}

.icerik .slider .carousel div >a>img
{
  height: 100px;
  width: 100%;
}
.icerik .slider .carousel div > .item > div
{
  margin: 0px;
}
.icerik .slider
{
  margin-left:-30px;
  margin-right:-30px;
}
.icerik .slider .carousel-control.left, .carousel-control.right {
  margin-left: 15px;
  background-image: none;
}
